aiohttp==3.7.4
altgraph==0.17
appdirs==1.4.3
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
distlib==0.3.0
filelock==3.0.12
future==0.18.2
geojson==2.5.0
idna==2.8
multidict==4.7.4
pefile==2019.4.18
PyInstaller==3.6
pyowm==2.10.0
PySide2==5.14.1
PySocks==1.7.1
pyTelegramBotAPI==3.6.7
python-box==4.0.4
pywin32-ctypes==0.2.0
requests==2.22.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
shiboken2==5.14.1
six==1.14.0
soupsieve==1.9.5
toml==0.10.0
urllib3==1.25.8
virtualenv==20.0.4
voluptuous==0.11.7
yandex-weather-api==0.2.4
yarl==1.4.2
